<!-- templates/about.html -->
{% extends '_base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<h1>Payslip generation System</h1>
<img class='payslip' src="{% static 'images/payslip.png' %}">
<br>
<br>
<p>
    Payslip generation System is a free web based applications allow user to generate his/her own payslip based on his/her employment benefits.<br><br>
    
    <b>Features of the Project:</b> <br>
    <ul>
        <li>This application is helpful for calculating employee net salary with an overtime bonus.</li>
        <li> Generating employee payment slip which includes tax.</li>
        <li>It is very helpful for the user’s company to calculate the salaries easily.</li>
    </ul>
</p>
{% endblock content %}
